 
body li {
	list-style: none;
	}
	
.container{
	width: 100%;
	position: relative;
}	
/* Top Menu */


.codrops-header {
	position: relative;
	margin: 0 auto;
	padding: 1em 1em;
	color: #fff;
	text-align: center;
	background: rgb(34,49,63); 
	background-size: cover;
}

/*  
#2e2f41 url(../img/bg.jpg) 0 0 no-repeat;
url(../img/bg.png) no-repeat center center;  */

#navbar {
    margin: 0px;
	padding: 0px;
	list-style: none;
}

#navbar li {
   display: inline-block;
   margin-right: -4px;
    }
 
#navbar a {
    transition: .3s background-color;
  	position: relative;
	display: inline-block;
	margin: 15px 25px;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1.7em;
}

/* Effect: Brackets */
.cl-effect-1 a::before,
.cl-effect-1 a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.cl-effect-1 a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}

/* END BRACKETS */

/* END TOP MENU */


#side{
	font-family: 'Raleway', sans-serif;
	text-align: center;
	position: relative;
	margin-top: 4em 1em;
	float: left;
	width:20%;
	border: 0px solid #1FA2E1;
	background: #e74c3c;
}
 

 
/* Effect circle */
.cl-effect-12 a::before,
.cl-effect-12 a::after {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100px;
	height: 100px;
	border: 2px solid rgba(0,0,0,0.1);
	border-radius: 50%;
	content: '';
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
	-moz-transform: translateX(-50%) translateY(-50%) scale(0.2);
	transform: translateX(-50%) translateY(-50%) scale(0.2);
}

.cl-effect-12 a::after {
	width: 90px;
	height: 90px;
	border-width: 6px;
	-webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
	-moz-transform: translateX(-50%) translateY(-50%) scale(0.8);
	transform: translateX(-50%) translateY(-50%) scale(0.8);
}

.cl-effect-12 a:hover::before,
.cl-effect-12 a:hover::after,
.cl-effect-12 a:focus::before,
.cl-effect-12 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(-50%) translateY(-50%) scale(1);
	-moz-transform: translateX(-50%) translateY(-50%) scale(1);
	transform: translateX(-50%) translateY(-50%) scale(1);
}


/* Footer */

footer{
    width: 100%;
    margin-top: 100px;
    padding: 50px 0;
    background: #3b3b3b;
    overflow: hidden;
}

footer section{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

footer .copyrights p{
    color: #ebebeb;
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
    font-weight: lighter;
    line-height: 32px;
    letter-spacing: 1px;
    
}

/* End Footer */



body {
 padding-top: 50px;
  

}

h1{

	margin-top: 0px;
}
.col-md-3{
	padding-left: 0;
}
.starter-template {
padding: 40px 15px;
} 
.navbar-brand {
	font-weight: 700;
}

.navbar-default .navbar-brand {
	color: #1abc9c;
}

.navbar-default {
	padding-top: 20px;
	background-color: transparent;
	border-color: transparent;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus,
.nav-sidebar > li > a:focus {
	color: #1abc9c;
	background-color: transparent;
	border-bottom: 2px solid #1abc9c
}

.navbar-default .navbar-nav > li > a {
	color: #1abc9c;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
  padding: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus,
.nav-sidebar > li > a {
	color: #1abc9c;
	background-color: transparent;
	  font-size: 1,5em ;
}

.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}